@model MangaViewModel


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.About-us {
			width: 100%;
			text-align: center;
			background-color: #ccc;
			margin-top: 30px;
			margin-bottom: 30px;
			border-radius: 12px;
			padding: 40px 20px;
		}

		h1 {
			color: #a21d21;
			font-size: 35px;
		}

		img {
			border-radius: 50%;
		}

		p {
			font-size: 20px;
		}

		h3 {
			text-shadow:
		}

		.contact-btn {
			background: #a21d21;
			color: white;
			padding: 6px 20px;
			border: none !important;
			border-radius: 40px;
			font-weight: bold;
		}

			.contact-btn:hover {
				background: #c4c4c4;
				color: #a21d21;
			}
	</style>
</head>
<body>
	<div class="About-us">
		<h1> About Us </h1>
		<img src="https://seeklogo.com/images/M/manga-logo-26D5521A34-seeklogo.com.png">
		<p>We are are manga store established in January 1 1999 in Samokov.</p>
		<p>Our mission is to spread as much as possible the beautiful world of manga.</p>
		<hr>
		<p>Our space contains an infinite amount of manga that you can choose from with all kinds of genres, ranging from romance to horror.</p>
		<p>We strive to offer every book possible, representing the diversity of our customers and authors. Within ‘To All’, we aspire to provide access to millions of books at great prices to customers around the world, whatever their shopping preferences.</p>
		<p><button class="button contact-btn">Contact Us</button></p>
		<h3> Follow us on </h3>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-linkedin"></a>
	</div>
</body>
</html>


