@model MangaViewModel

<h1>Authors</h1>



<div class="about-box-container">
    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="Vlad" class="card-img">
            <div class="container">
                <h2>Vladi</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>



    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="Mike" class="card-img">
            <div class="container">
                <h2>Vladi 2</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi2@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="John" class="card-img">
            <div class="container">
                <h2>Vladi 3</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi3@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>
</div>

<div class="about-box-container">
    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="Vlad" class="card-img">
            <div class="container">
                <h2>Vladi</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="Mike" class="card-img">
            <div class="container">
                <h2>Vladi 2</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi2@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg" alt="John" class="card-img">
            <div class="container">
                <h2>Vladi 3</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>vladi3@example.com</p>
                <p><button class="button contact-btn">Contact</button></p>
            </div>
        </div>
    </div>

</div>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .about-box-container {
            display: flex;
            text-align: center;
            margin-top: 20px;
        }

        .card-cont {
            margin-right: 25px;
        }

        .card {
            border-radius: 20px;
        }

        .container > h2 {
            margin-top: 10px;
        }

        .contact-btn {
            background: red;
            color: white;
            padding: 6px 20px;
            border: none !important;
            border-radius: 40px;
            font-weight: bold;
        }

            .contact-btn:hover {
                background: #c4c4c4;
                color: red;
            }

        .card-img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    </style>
</head>
</html>