@model MangaViewModel

<h1>Authors</h1>

<style>
    .about-box-container {
        display: flex;
        text-align: center;
        margin-top: 20px;
    }

    .card-cont {
        margin-right: 25px;
    }

    .card {
        border-radius: 20px;
        width: 350px;
        height: 630px;
    }

    .container > h2 {
        margin-top: 10px;
    }

    .contact-btn {
        margin-top: 10px;
        background: red;
        color: white;
        padding: 6px 20px;
        border: none !important;
        border-radius: 40px;
        font-weight: bold;
    }

        .contact-btn:hover {
            background: #c4c4c4;
            color: red;
        }

    .card-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
        object-fit: contain;
    }
</style>

<div class="about-box-container">
    <div class="column card-cont">
        <div class="card">
            <img align="middle" src="https://i.ytimg.com/vi/CXrWnh-XBx4/maxresdefault.jpg" alt="One" class="card-img">
            <div class="container">
                <h2>One</h2>
                <p class="MostFamousWork">One punch man</p>
                <p>
                    One (stylized as ONE) or Tomohiro is the pseudonym of a Japanese manga artist,
                    who is best known for his web manga series One-Punch Man,
                    which was later remade into a digital manga illustrated by Yusuke Murata..
                </p>
                <h3> Follow One </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/One_(manga_artist)'">More info</button></p>
            </div>
        </div>
    </div>



    <div class="column card-cont">
        <div class="card">
            <img src="https://archivio.luccacomicsandgames.com/fileadmin/images/archivio-edizioni/2019/News/Comics/_Comics_News_-Araki_INTERNA.jpg" alt="Araki" class="card-img">
            <div class="container">
                <h2>Hirohiko Araki</h2>
                <p class="MostFamousWork">Jojo's Bizarre adventures</p>
                <p>
                    Hirohiko Araki , born June 7, 1960,
                    pseudonym of Toshiyuki Araki, is a Japanese manga artist.
                    He is best known for his long-running series JoJo's Bizarre Adventure,
                    which began publication in Weekly Shōnen Jump in 1987 and has over 120 million copies in circulation,
                    making it one of the best-selling manga series in history
                </p>
                <h3> Follow Araki </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/Hirohiko_Araki'">More info</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://cdn.myanimelist.net/images/voiceactors/3/45121.jpg" alt="Yabako" class="card-img">
            <div class="container">
                <h2>Yabako Sandrovich</h2>
                <p class="MostFamousWork">Kengan Ashura</p>
                <p>
                    Yabako Sandrovich, born November 1, 1984 is a Japanese manga artist
                    He is best known for his long-running series Kengan Ashura.
                </p>
                <h3> Follow Sandrovich </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/Kengan_Ashura'">More info</button></p>
            </div>
        </div>
    </div>
</div>

<div class="about-box-container">
    <div class="column card-cont">
        <div class="card">
            <img src="https://www.shutterstock.com/image-vector/vector-illustration-flat-style-male-260nw-1328175623.jpg" alt="Fujimoto" class="card-img">
            <div class="container">
                <h2>Tatsuki Fujimoto</h2>
                <p class="MostFamousWork">Chainsaw Man</p>
                <p>
                    Fujimoto was born on October 10, 1992, or 1993, in Nikaho, Akita Prefecture, Japan.
                    He is a Japanese manga artist, known for his works Fire Punch and Chainsaw Man.
                </p>
                <h3> Follow Fujimoto </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/Tatsuki_Fujimoto'">More info</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://pm1.narvii.com/5645/735dd555376a71c2ad2fcd7fc1d0cc71ad7fd9e0_00.jpg" alt="Mike" class="card-img">
            <div class="container">
                <h2>Eiichiro Oda</h2>
                <p class="MostFamousWork">One Piece</p>
                <p>
                    Eiichiro Oda ( born January 1, 1975) is a
                    Japanese manga artist and the creator of the series One Piece (1997–present).
                    With more than 516.6 million tankōbon copies in circulation worldwide,
                    One Piece is both the best-selling manga in history.
                </p>
                <h3> Follow Oda </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/Eiichiro_Oda'">More info</button></p>
            </div>
        </div>
    </div>

    <div class="column card-cont">
        <div class="card">
            <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/5ABUSVYS2JLNXDAHMDABC2IO7A.jpg" alt="John" class="card-img">
            <div class="container">
                <h2>Tatsuya Endo</h2>
                <p class="MostFamousWork">Spy X Family</p>
                <p>
                    Tatsuya Endo (Japanese: 遠藤 達哉, Hepburn: Endō Tatsuya, born July 23, 1980) is a Japanese manga artist.
                    Endo is best known for creating Tista, Blade of the Moon Princess,
                    and Spy × Family manga series among other works..
                </p>
                <h3> Follow Tatsuya </h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <p><button class="button contact-btn" onclick=" window.location.href='https://en.wikipedia.org/wiki/Tatsuya_Endo'">More info</button></p>
            </div>
        </div>
    </div>

</div>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
</html>



