@model MangaModelViewList
<style>
    .contact-btn {
        background: #56944a;
        color: white;
        padding: 6px 20px;
        border: none !important;
        border-radius: 40px;
        font-weight: bold;
        margin-top: 20px;
        text-decoration: none;
    }

        .contact-btn:hover {
            background: #c4c4c4;
            color: #56944a;
            text-decoration: none;
        }

    .flex-container {
        display: flex;
        align-items: center;
    }

    .triple-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        margin-right: 5%;
        text-align: center;
    }
</style>
<div class="flex-container">
    <div class="intro-text-container">
        <h1 style="margin-bottom:20px">Welcome to Your One-Stop Shop for All Things Manga!</h1>
        <p>Are you a die-hard manga fan looking for your next read? Look no further than our online manga bookstore! We have an extensive collection of manga titles from all genres, including action, romance, fantasy, and more. Our selection includes popular series like Naruto, One Piece, Attack on Titan, and My Hero Academia, as well as lesser-known gems waiting to be discovered.</p>
        <p style="margin-top:30px"><a href="/Home/CatalogPage" class="Button contact-btn">Visit Catalog</a></p>
    </div>
    <div class="intro-img-container">
        <img src="https://media.istockphoto.com/id/1216658448/photo/stack-of-colorful-books-isolated-on-white-background-collection-of-different-books-hardback.jpg?s=170667a&w=0&k=20&c=AYTKsn6gnT_VnxMFIcygoOm2RiMwcOaTNkq5LRcDvyg=" alt="books" style="margin-left: 20px;" />
    </div>
</div>

<div class="flex-container" style="margin-top: 60px; margin-bottom: 120px;">
    <div class="triple-item">
        <img src="https://static.vecteezy.com/system/resources/previews/003/808/019/original/open-book-icon-book-symbol-handbook-in-outline-style-free-vector.jpg" style="width: 160px" />
        <h4>Explore Books</h4>
        <p>Whether you're a seasoned manga reader or just getting started, we have something for everyone.</p>
    </div>

    <div class="triple-item">
        <img src="https://thumbs.dreamstime.com/b/author-icon-novelist-211423263.jpg" style="width: 160px" />
        <h4>Explore Authors</h4>
        <p>Explore our Author section to discover new manga creators and to deepen your appreciation for your favorite series.</p>
    </div>

    <div class="triple-item">
        <img src="https://i.pinimg.com/originals/2e/05/92/2e059263ff4188c3194d9a22a45f6e9d.png" style="width: 160px" />
        <h4>Create Manga</h4>
        <p>You can create and add to our library of vast mangas and sell your product right from the get go.</p>
    </div>
</div>


<div class="flex-container" style="margin-bottom: 60px">
    <div class="secondary-img-container">
        <img src="https://culture.ec.europa.eu/sites/default/files/2023-02/day-authors-2023.png" alt="authors" style="width: 550px; border-radius: 20px; margin-right: 40px;" />
    </div>
    <div class="secondary-text-container">
        <h2 style="margin-bottom:20px">The Authors Behind Your Favorite Series</h2>
        <p>Our online manga bookstore features a wide variety of manga genres, each with its own unique group of creators. We've assembled profiles of some of the most popular and influential manga authors in the industry, along with a selection of their works. Don't miss out on the opportunity to learn more about the creators who bring your favorite manga stories to life. Browse our Author section today and discover the wide range of talent in the manga industry!</p>
        <p style="margin-top:30px"><a href="/Home/Authors" class="Button contact-btn">View Authors</a></p>
    </div>
</div>
<div></div>





